{% extends "Admin/ProductUpdate.html.twig" %}

{% block child_content %}
    <div class="container">
        <div class="col-xs-6">
            {% block common_text_fields %}
                {{ parent() }}
                <div class="form-group">
                    {{ form_label(form.sleeveLength) }}
                    {{ form_errors(form.sleeveLength) }}
                    {{ form_widget(form.sleeveLength, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.composition) }}
                    {{ form_errors(form.composition) }}
                    {{ form_widget(form.composition, {'attr': {'class': 'form-control'}}) }}
                </div>

            {% endblock %}
        </div>
        <div class="col-xs-6">
            {% block photos_and_rest %}
                {{ parent() }}
            {% endblock %}
        </div>
    </div>
{% endblock %}