{% extends "Admin/AdminBase.html.twig" %}

{% block child_content %}
    <div class="container">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>

            <div class="checkbox">
                {% for cat in form.categories %}
                    <div>
                        {{ form_widget(cat) }}
                        {{ form_label(cat) }}
                    </div>
                {% endfor %}
            </div>

        <input type="submit" class="btn btn-primary" value="Update">
        {{ form_end(form) }}
    </div>
{% endblock %}