{% extends "mybase.html.twig" %}
{% block css %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
{% endblock %}
{% block child_content %}
    {% block crumbs %}
        {% include 'breadcrumbs.html.twig' with {"crumbs": crumbs} %}
    {% endblock %}
    {% block banner %}
        <!--Banner Image Area Start-->
        <div class="banner-image-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="category-image"><img alt="women" src="{{ asset('img/banner/13.jpg') }}"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Banner Image Area-->
    {% endblock %}
    {% block main_area %}
    <!--Shop Main Area Start-->
    <div class="shop-main-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar-content">
                        <div class="section-title"><h2>Category</h2></div>
                        <div class="sidebar-category-list">
                            {{ catsHtmlList | raw }}
                        </div>
                        <div class="section-title border-none"><h2>Filters</h2></div>
                        <div class="sidebar-category-list">
                            {% if filtersTpl is defined %}
                                <div class="filters">
                                    {% include 'Products/FiltersForms/' ~ filtersTpl ~ '.html.twig' %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="section-title border-none"><h2>Manufacturer</h2></div>
                        <div class="sidebar-category-list">
                            <ul>
                                {% for brand in brands %}
                                    <li><a href="{{ brand.link }}">{{ (brand.title | capitalize)~' ('~brand.count~' )' }}</a> </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-content">
                        <div class="banner-box">
                            <a href="#"><img src={{ asset("img/banner/14.jpg") }} alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="shop-item-filter">
                        <div class="shop-tab clearfix">
                            <!-- Nav tabs -->
                            <div class="filter-by">
                                <h4>Order by </h4>
                                {{ form_start(orderByForm) }}
                                    <div class="select-filter">
                                        {{ form_widget(orderByForm.orderBy) }}
                                        {{ form_widget(orderByForm.params) }}
                                    </div>
                                {{ form_end(orderByForm) }}
                            </div>
                            <span class="page floatright" >{{ (productsCount~' products found') }}</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="grid">
                            {% block children_cats %}
                                {% if childrenCats is not empty %}
                                    <div class="products-cats">
                                        <div class="row">
                                            {% for cat in childrenCats %}
                                                <div class="col-sm-4"><a href="{{ cat.link }}">{{ cat.name|upper~' ('~cat.count~')' }}</a> </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endblock %}
                            <div class="row">
                                {% for product in products %}
                                    <div class="col-md-4 col-sm-4">
                                        <div class="single-product-item">
                                            <div class="sale-product-label"><span>sale</span></div>
                                            <div class="single-product clearfix">
                                                <a href="{{ path('app_product_show', {'id': product.getId}) }}">
                                                    <span class="product-image">
                                                        {% if product.mainPhoto1 %}
                                                            <img src="{{ (product.getMainPhoto1Path)|imagine_filter('shop_main_thumb') }}" alt="">
                                                            {% else %}
                                                            <img src="{{ ('img/dummy-product-1.jpg')|imagine_filter('shop_main_thumb') }}" alt="">
                                                        {% endif %}
                                                    </span>
                                                    <span class="product-image hover-image">
                                                        {% if product.mainPhoto1 %}
                                                            <img src="{{ (product.getMainPhoto2Path)|imagine_filter('shop_main_thumb') }}" alt="">
                                                            {% else %}
                                                            <img src="{{ ('img/dummy-product-2.jpg')|imagine_filter('shop_main_thumb') }}" alt="">
                                                        {% endif %}
                                                    </span>
                                                </a>
                                                <div class="button-actions clearfix">
                                                    <span class="product-id" hidden="hidden">{{ product.Id }}</span>
                                                    <p class="product-description" hidden="hidden">{{ product.description }}</p>
                                                    {% if product.isReserved == false %}
                                                        <button class="button add-to-cart" type="button">
                                                            <span><i class="fa fa-shopping-cart"></i></span>
                                                        </button>
                                                    {% endif %}
                                                    <ul class="add-to-links">
                                                        <li class="quickview">
                                                            <a class="btn-quickview modal-view" href="#" data-toggle="modal" data-target="#productModal">
                                                                <i class="fa fa-search-plus"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="link-wishlist" href="wishlist.html">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        </li>																													<li>
                                                            <a class="link-compare" href="#">
                                                                <i class="fa fa-retweet"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h2 class="single-product-name"><a href="{{ path('app_product_show', {'id': product.getId}) }}">{{ product.title }}</a></h2>
                                            <div class="price-box">
                                                <p class="old-price">
                                                    <span class="price">{{ product.price ~ ' ' ~ product.currency.name }}</span>
                                                </p>
                                                <p class="special-price">
                                                    <span class="price">{{ product.price ~ ' ' ~ product.currency.name  }}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% block pagination %}
                        {% if numPages > 1 %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pagination-content">
                                        <div class="pagination-button">
                                            <ul class="pagination">
                                                <li><a href="{{ pagesLinks|first }}"><i class="fa fa-caret-left"></i></a></li>
                                                {% for link in pagesLinks %}
                                                    {% if loop.index == page %}
                                                    <li class="current"><a href="{{ link }}">{{ loop.index }}</a> </li>
                                                    {% else %}
                                                        <li><a href="{{ link }}">{{ loop.index }}</a> </li>
                                                    {% endif %}
                                                {% endfor %}
                                                <li><a href="{{ pagesLinks|last }}"><i class="fa fa-caret-right"></i></a></li>
                                            </ul>
                                            <span><strong>Page: </strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!--End of Shop Main Area-->
    {% endblock %}
    <!--Quickview Product Start -->
    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <div class="product-images">
                                <div class="main-image images">
                                    <img alt="" src="img/product/quick-view.jpg">
                                </div>
                            </div>
                            <div class="product-info">
                                <h1>Diam quis cursus</h1>
                                <div class="price-box">
                                    <p class="price"><span class="special-price"><span class="amount">$132.00</span></span></p>
                                </div>
                                <a href="product-details.html" class="see-all">See all features</a>
                                <div class="quick-add-to-cart">
                                    <form method="post" class="cart">
                                        <div class="numbers-row">
                                            <input type="number" id="french-hens" value="3">
                                        </div>
                                        <button class="single_add_to_cart_button" type="submit">Add to cart</button>
                                    </form>
                                </div>
                                <div class="quick-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.
                                </div>
                                <div class="social-sharing">
                                    <div class="widget widget_socialsharing_widget">
                                        <h3 class="widget-title-modal">Share this product</h3>
                                        <ul class="social-icons">
                                            <li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                                            <li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                                            <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .product-info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Quickview Product-->
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset("js/Products/QuickView.js") }}" type="text/javascript"></script>
    <script src="{{ asset("js/Products/OrderBy.js") }}" type="text/javascript"></script>
    <script src="{{ asset("js/Products/jquery-ui.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("js/Products/price-slider.js") }}" type="text/javascript"></script>
    <script src="{{ asset("js/Products/categories.js") }}" type="text/javascript"></script>
{% endblock %}