{% extends 'mybase.html.twig' %}
{% block child_content %}
    {% include 'breadcrumbs.html.twig' with {"crumbs": crumbs} %}
    <!--Product Details Area Start-->
    <div class="product-deails-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="product-details-content row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="zoomWrapper">
                                <div id="img-1" class="zoomWrapper single-zoom">
                                    <a href="#">
                                        <img id="zoom1" src="{{ (product.getMainPhoto1Path)|imagine_filter('shop_main_thumb') }}" data-zoom-image="{{ asset(product.getMainPhoto1Path) }}" alt="big-1">
                                    </a>
                                </div>
                                <div class="product-thumb row">
                                    <ul class="p-details-slider" id="gallery_01">
                                        <li class="col-md-4">
                                            <a class="elevatezoom-gallery" href="#" data-image="{{ (product.getMainPhoto1Path)|imagine_filter('shop_main_thumb') }}" data-zoom-image="{{ asset(product.getMainPhoto1Path) }}"><img src="{{ (product.getMainPhoto1Path)|imagine_filter('shop_main_thumb') }}" alt=""></a>
                                        </li>
                                        <li class="col-md-4">
                                            <a class="elevatezoom-gallery" href="#" data-image="{{ (product.getMainPhoto2Path)|imagine_filter('shop_main_thumb') }}" data-zoom-image="{{ asset(product.getMainPhoto2Path) }}"><img src="{{ (product.getMainPhoto2Path)|imagine_filter('shop_main_thumb') }}" alt=""></a>
                                        </li>
                                        {% for photo in product.getPhotos %}
                                            <li class="col-md-4">
                                                <a class="elevatezoom-gallery" href="#" data-image="{{ (photo.getPath)|imagine_filter('shop_main_thumb') }}" data-zoom-image="{{ asset(photo.getPath) }}"><img src="{{ (photo.getPath)|imagine_filter('shop_main_thumb') }}" alt=""></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="product-details-conetnt">
                                <div class="shipping">
                                    <div class="single-service">
                                        <span class="fa fa-truck"></span>
                                        <div class="service-text-container">
                                            <h3>fREE SHIPPING</h3>
                                            <p>One order over $99</p>
                                        </div>
                                    </div>
                                    <div class="single-service">
                                        <span class="fa fa-cube"></span>
                                        <div class="service-text-container">
                                            <h3>UNLIMITED UNLIMITED</h3>
                                            <p>Lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-name">
                                    <h1> {{ product.title }} </h1>
                                </div>
                                <p><strong>Gender: </strong>{{ product.gender|capitalize }}</p>
                                <p><strong>Brand: </strong>{{ product.brand.title }}</p>
                                {% block unique_properties %}
                                {% endblock %}
                                <p class="availability">Availability: <span>In stock</span></p>
                                <div class="price-box">
                                    {% if product.discount != null %}
                                        <p class="old-price">
                                            <span class="price">{{ product.price ~ ' ' ~ product.currency.name }}</span>
                                        </p>
                                    {% endif %}
                                    <p class="special-price">
                                        <span class="price">{{ product.price(true) ~ ' ' ~ product.currency.name }}</span>
                                    </p>
                                </div>
                                <div class="details-description">
                                    <p>{{ product.description }}</p>
                                    <img src="{{ asset('img/icon/social_link.png') }}" alt="">
                                </div>
                                <div class="add-to-buttons">
                                    <ul>
                                        <li><i class="fa fa-heart link-wishlist"></i></li>
                                        <li><a href="#"><i class="fa fa-refresh"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                                <div class="add-to-cart-qty">
                                    <div class="timer">
                                        <div data-countdown="2022/01/01" class="timer-grid"></div>
                                    </div>
                                    <div class="cart-qty-button">
                                        <span hidden class="product-id">{{ product.id }}</span>
                                        <button class="button add-to-cart" type="button"><span>Add to Cart</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="single-products-category">
                        <div class="section-title"><h2>Related PRODUCTS</h2></div>
                        <div class="category-products">
                            {% for product in randomProducts %}
                                <div class="product-items">
                                    <div class="p-category-image">
                                        <a href="{{ path('app_product_show', {id: product.Id}) }}">
                                            <img alt="" src="{{ (product.getMainPhoto1Path)|imagine_filter('related_preview_thumb') }}">
                                        </a>
                                    </div>
                                    <div class="p-category-text">
                                        <h2 class="category-product-name"><a href="#">{{ product.title }}</a></h2>
                                        <div class="price-box">
                                            <p class="special-price">
                                                <span class="price">{{ product.price(true) ~ ' ' ~ product.currency.name }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="sidebar-content">
                    </div>
                    <div class="sidebar-content">
                    </div>
                    <div class="sidebar-content">
                        <div class="banner-box">
                            <a href="#"><img alt="" src="{{ asset('img/banner/14.jpg') }}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Product Details Area-->
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset("js/Products/AddToWishlist.js") }}" type="text/javascript"></script>
{% endblock %}