{% extends 'User/CabinetBase.html.twig' %}
{% set pageTitle = 'My Wishlist' %}
{% block cabinet_page %}
    <div class="table-responsive">
        {% if wishlist != null %}
            <table class="cart-table">
                <thead>
                <tr>
                    <th class="product-img">Product Image</th>
                    <th>Product Details and Comment</th>
                    <th class="text-center add-cart-info">Add to Cart</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for product in wishlist.getProducts %}
                    <tr class="product-row">
                        <td class="product-img">
                            <a href="{{ path('app_product_show', {'id': product.getId}) }}" class="tb-img"><img src="{{ product.getMainPhoto1Path | imagine_filter('wishlist_thumb') }}" class="img-responsive" alt=""></a>
                        </td>
                        <td>
                            <h6><a href="{{ path('app_product_show', {'id': product.getId}) }}">{{ product.title }} </a></h6>
                            <p class="description">{{ product.description }}</p>
                            <textarea placeholder="Please, enter your comments..."></textarea>
                        </td>
                        <td class="text-center add-cart-info">
                            <div class="price-box">
                                {% if product.discount != null %}
                                    <p class="old-price">
                                        <span class="price">{{ product.price ~ ' ' ~ product.currency.name }}</span>
                                    </p>
                                {% endif %}
                                <span class="special-price">{{ product.price(true) ~ ' ' ~ product.currency.name  }}</span>
                            </div>
                            <div class="wishlist-qty">
                                <span class="product-id" hidden>{{ product.id }}</span>
                                <button class="button btn-cart add-to-cart" type="button"><span>Add to Cart</span></button>
                            </div>
                        </td>
                        <td class="p-action">
                            <a href="{{ path('app_usercabinet_cabinet_updatewishlist', {'productId': product.id, '_format': 'json', 'action': 'remove'}) }}" class="remove-from-wl"></a>
                        </td>
                    </tr>
                {% endfor %}
                <tr hidden class="row-prototype">
                    <td class="product-img">
                        <a href="" class="tb-img"><img src="" class="img-responsive" alt=""></a>
                    </td>
                    <td>
                        <h6><a href=""> </a></h6>
                        <p class="description"></p>
                        <textarea placeholder="Please, enter your comments..."></textarea>
                    </td>
                    <td class="text-center add-cart-info">
                        <div class="price-box">
                            <span class="special-price"></span>
                        </div>
                        <div class="wishlist-qty">
                            <span class="product-id" hidden></span>
                            <button class="button btn-cart add-to-cart" type="button"><span>Add to Cart</span></button>
                        </div>
                    </td>
                    <td class="p-action">
                        <a href="javascript:void(0);" class="remove-from-wl"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        {% endif %}

    </div>
    <div class="all-cart-buttons">
        <button class="button btn-cart" type="button"><span>Add all to Cart</span></button>
        <button class="button btn-cart" type="button"><span>Update Wishlist</span></button>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset("js/Wishlist/Wishlist.js") }}" type="text/javascript"></script>
{% endblock %}